In [1]:
# Dictionary has no indexing
# Dictionary is a mutable data type
# keys -> should always be immutable but value -> can be mutable or immutable
# keys -> should be unique

In [2]:
d ={}
d

{}

In [3]:
d1 = {"name":"hiamnshu","gender":"male"}
d1

{'name': 'hiamnshu', 'gender': 'male'}

In [5]:
d1["name"]

'hiamnshu'

In [6]:
d1["gender"]

'male'

In [7]:
d1["name"]= "isha"

In [8]:
d1

{'name': 'isha', 'gender': 'male'}

In [9]:
d1["gender"] = "female"

In [10]:
d1

{'name': 'isha', 'gender': 'female'}

In [11]:
d1.get("name")

'isha'

In [12]:
d1["age"]=20
d1

{'name': 'isha', 'gender': 'female', 'age': 20}

In [13]:
del d

In [14]:
del d1["gender"]

In [15]:
d1

{'name': 'isha', 'age': 20}

In [17]:
#operations
# loops, 
for i in d1:
    print(i,d1[i])

name isha
age 20

In [19]:
"name" in d1

True

In [20]:
# functions
# len, min, max, sorted()
d1.keys()

dict_keys(['name', 'age'])

In [21]:
d1.values()

dict_values(['isha', 20])