In [1]:
# list
# what is a list
# list vs array
# create
# access
# edit
# add
# delete
# operations
# functions

1. Array is Homogenous, List is Hetrogenous
2. Array me Continious Memory location me store hota h data, List me Asa nhi h
3. Arrays are must faster, List is a bit slower
4. Lists are more programmer friendly

In [2]:
L =[]

In [3]:
L2=[1,2,3,4.5,"Hello"]

In [5]:
#Multi dimensional lists
#2D
L3=[1,2,3,[4,5]]
L3

[1, 2, 3, [4, 5]]

In [6]:
L4 = list("Haldia")
L4

['H', 'a', 'l', 'd', 'i', 'a']

In [7]:
L4[0]

'H'

In [8]:
# Accessing the list is same a the string but not for multidimensional lists

In [9]:
L3[-1][0]

4

In [10]:
L

[]

In [11]:
L3[0]=100

In [12]:
L3

[100, 2, 3, [4, 5]]

In [13]:
# Lists in python are mutable.
# Adding in list
# append, extend, insert

L3.append([1,2,3])

In [14]:
L3

[100, 2, 3, [4, 5], [1, 2, 3]]

In [16]:
L3.extend([100,200,250])
L3

[100, 2, 3, [4, 5], [1, 2, 3], 100, 200, 250]

In [17]:
L3.insert(1,"Himanshu")
L3

[100, 'Himanshu', 2, 3, [4, 5], [1, 2, 3], 100, 200, 250]

In [18]:
# Delete ke tarike
# del, remove, pop, clear

L= L3
del L3

In [19]:
L

[100, 'Himanshu', 2, 3, [4, 5], [1, 2, 3], 100, 200, 250]

In [20]:
l = L

In [21]:
del L

In [22]:
l.remove("Himanshu")

In [23]:
l

[100, 2, 3, [4, 5], [1, 2, 3], 100, 200, 250]

In [24]:
l.pop()

250

In [25]:
l

[100, 2, 3, [4, 5], [1, 2, 3], 100, 200]

In [26]:
l.clear()

In [27]:
l

[]

In [28]:
first = [1,2,3,4]
second = [5,6,7,8]
first+ second

[1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
for i in first:
    print(i)

1
2
3
4

In [30]:
4 in l

False

In [31]:
4 in first

True

In [48]:
user_string = input()
result = ""
for i in user_string.split():
    result += i.capitalize() + " "
result.strip()
print(result)

TypeError: 'str' object is not callable

In [1]:
user_string = input()
result = ""
for i in user_string.split():
    result += i.capitalize() + " "
result.strip()
print(result)

How Are You Mr. Himanshu Yadav?

In [4]:
user = "himanshuydv0004@gmail.com"
result = user[:user.index("@")]
print(result)

himanshuydv0004

In [6]:
l1 = [1,1,2,2,3,3,4,4]
result=[]
for i in l1:
    if i not in result:
        result.append(i)
print(result)

[1, 2, 3, 4]