In [2]:
# while loop
number = int(input("Enter a Number "))
i = 1
while i<11:
    print(number,"X",i,"=",number*i)
    i+=1

19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

In [3]:
# for Loop
# range function
range(1,11)

range(1, 11)

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
range(5)

range(0, 5)

In [9]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
# Sequence
# string
"Delhi"

'Delhi'

In [13]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
for i in "Delhi":
    print(i, end=" ")

D e l h i

In [16]:
for i in [1,2,3,"Delhi"]:
    print(i)

1
2
3
Delhi