Strings are sequence of Characters

In python specifically, strings are a sequence of Unicode Characters.

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

In [1]:
# creating
c = 'Hello'
d = "Hello"
e = """This is a 
Multi LIne 
String"""
print(c, d, e)

Hello Hello This is a
Multi LIne
String

In [9]:
# Accessing Substrings from a String
# indexing and slicing
c = "Himanshu"
print(c[-4])

n

In [10]:
# types of indexing
# positive indexing and negative indexing
# goes left to right and goes right to left

In [17]:
# slicing
c= "Himanshu Yadav"
print(c[0:8])
print(c[2:])
print(c[:4])
print(c[0:8:2])

Himanshu
manshu Yadav
Hima
Hmnh

In [18]:
# you cant use negative steping in positive indexing and only use negative step in negative indexing

In [19]:
print(c[::-1])

vadaY uhsnamiH

In [20]:
# EDITING AND DELETING STRINGS
c = "hello"
print(c)

hello

In [21]:
c[0]="X"

TypeError: 'str' object does not support item assignment

In [22]:
# Strings are a Immutable Data type

c = "Yadav"
print(c)

Yadav

In [23]:
# Deletion
del c

In [ ]:

print(c)

NameError: name 'c' is not defined

In [26]:
c= "Himanshu"
print(c)
del c[0]
print(c)

Himanshu

TypeError: 'str' object doesn't support item deletion

In [27]:
del c[::]

TypeError: 'str' object does not support item deletion

In [28]:
del c

In [29]:
# STRING OPERATIONS

"Hello"+"World"

'HelloWorld'

In [30]:
print("*"*5)

*****

In [32]:

"Hello" == "hello"

False

In [34]:
"Jaipur">"Delhi"
# lexiographically comparison

True

In [35]:
"hello" and "World"

'World'

In [36]:
# empty strings are always false
# non empty strings are always true

"" or "Himanshu"

'Himanshu'

In [37]:
c = "Himanshu"
for i in c:
    print(i, end=" ")

H i m a n s h u

In [38]:
"h" in c

True

## Functions on Strings

In [40]:
# Common functions
# len, max, min , sorted
a = "Himanshu"
print(len(a))
print(max(a))
print(min(a))
print(sorted(a)) # ascennding order, for decending order put reverse = true (hidden parameter)

8
u
H
['H', 'a', 'h', 'i', 'm', 'n', 's', 'u']

In [41]:
# Captilaize, title, upper, lower, swapcase
c.capitalize()

'Himanshu'

In [42]:
a.title()

'Himanshu'

In [43]:
a= "himanshu yadav"
a.title()

'Himanshu Yadav'

In [44]:
a.upper()

'HIMANSHU YADAV'

In [45]:
a.lower()

'himanshu yadav'

In [46]:
"HiMaNsHu".swapcase()

'hImAnShU'

In [48]:
# count
"It is raining".count("i")

3

In [51]:
#Find/index
"it is raining".find("i")

0

In [52]:
# endswith/startswith
#format
"himanshu Yadav and {} {}".format("Isha","Yadav")

'himanshu Yadav and Isha Yadav'

In [53]:
# isalnum/isalpha/isdecimal/isdigit/isidentifier
"Himanshu45".isalnum()

True

In [64]:
# split
list = "who is the prime minister of India".split()

In [66]:
# join
print(list)
string = " ".join(list)
print(string)

['who', 'is', 'the', 'prime', 'minister', 'of', 'India']
who is the prime minister of India

In [67]:
# Replace
"Hi my name is Nitish".replace("Nitish","Himanshu")

'Hi my name is Himanshu'

In [68]:
# Strip
name= "                      Himanshu             "

In [1]:
name.strip()

NameError: name 'name' is not defined

In [3]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****