1. Tuples
2. create
3. access
4. edit
5. add
6. delete
7. operations
8. functions

In [1]:
t1 = ()
t1

()

In [2]:
t2 = (1,2,3,4)
t2

(1, 2, 3, 4)

In [4]:
t2 = (1,2,3.4,5,"Hello")
t2

(1, 2, 3.4, 5, 'Hello')

In [5]:
t4 = (1,2,3,(1,2,3))
t4

(1, 2, 3, (1, 2, 3))

In [6]:
t5 = (1)
t5

1

In [7]:
type(t5)

int

In [8]:
t5 = ("hello")
type(t5)

str

In [9]:
t5=("Hello",)
type(t5)

tuple

In [11]:
t6 = tuple("Goa")
t6

('G', 'o', 'a')

In [12]:
t6 = tuple([1,2,3,4,5])
t6

(1, 2, 3, 4, 5)

In [13]:
t2

(1, 2, 3.4, 5, 'Hello')

In [14]:
t2[0]

1

In [15]:
t2[-1]

'Hello'

In [16]:
t2[:-1]

(1, 2, 3.4, 5)

In [17]:
t2[0]=100

TypeError: 'tuple' object does not support item assignment

In [18]:
# tuples are just like strings are immutable

del t1

In [19]:
t1

NameError: name 't1' is not defined

In [20]:
t2

(1, 2, 3.4, 5, 'Hello')

In [21]:
del t2[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# operations 
# + , * , loop , in

# functions
# len, min , max, sum, sorted()

# tuples are read only data type