In [1]:
first = input("enter a number")
second = input("enter a second number")
print(first+second)

4455

- Implicit Type conversion
. 4 + 5.5 = 9.5 (here 4 is converted into a float)
- Explicit type conversion
. in the above example of two number there is a need to tell python that type conversion is needed

In [4]:
#int
int("45")

45

In [5]:
float(4)

4.0

In [6]:
complex(4)

(4+0j)

In [7]:
list(4)

TypeError: 'int' object is not iterable

In [8]:
list("hello")

['h', 'e', 'l', 'l', 'o']

In [9]:
int("Kolkata")

ValueError: invalid literal for int() with base 10: 'Kolkata'

In [10]:
a= 4.5
int(a)

4

In [11]:
print(a)

4.5

In [1]:
first = input("enter a number")
second = input("enter a second number")
print(first+second)

4556

In [2]:
first = input("enter a number")
second = input("enter a second number")
print(int(first)+int(second))

3

In [3]:
first = int(input("enter a number"))
second = int(input("enter a second number"))
print(first+second)

90